@media only screen and (max-width: 400px) {
  .bt2 {
    margin-top: 60px;
    margin-left: -225px;
  }
}
@media only screen and (max-width: 360px) {
  .bt2 {
    margin-top: 60px;
    margin-left: -206px;
  }
}

